/*----- || General styles || -----*/

* {
  box-sizing: border-box;
}

:root {
  --clr-bg: #e9e3ee;
  --clr-light-purple: #d1cae6;
  --clr-light-pink: #d8bdff;
  --clr-bg-accent: #c3b4ec49;
  --clr-vibrant-purple: #7c1fff;
  --clr-purple: #5700d0;
  --clr-accent: #31005c;
  --clr-purple-darker: #3a018a;
  --clr-text-default: #3a274a;
  --clr-text-headline: #43007d;
  --clr-text-alt: #42354d;
  --clr-yellow: #ffd22f;
  --clr-white: white;
}

html {
  font-family: "Red Hat Display", "Arial", sans-serif;
  color: var(--clr-text-default);
  letter-spacing: 0.05rem;
  line-height: 170%;
}

body {
  font-family: inherit;
  font-size: 1.125rem;
  margin: 0;
  background-color: var(--clr-bg);
}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}

/*----- || Headline Styles || -----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass";
  font-weight: 600;
  color: var(--clr-text-headline);
  letter-spacing: normal;
}

h1 {
  color: var(--clr-white);
  letter-spacing: 0.062rem;
  font-weight: 400;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

/*----- || Header || -----*/

/* not necessary, just for practicing em vs rem */
.intro {
  font-size: 3rem;
}

.intro h1 {
  font-size: 1em;
}

.intro p {
  font-size: 0.375em;
}
/* ---------------------------------------------- */

header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}

h1 + p::after {
  content: " ✨";
}

h1 + p {
  margin-bottom: 2.25rem;
}

/*----- || Navigation || -----*/

menu {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
}

menu li {
  list-style-type: none;
}

nav a {
  color: var(--clr-bg);
  margin: 0;
  padding: 0;
}

/*pseudoclass*/
nav a:hover {
  color: var(--clr-white);
}

nav a:active {
  color: var(--clr-light-pink);
}
/*:hover needs to be defined before :active, otherwise hover would override the active*/

aside p {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--clr-yellow);
  border-radius: 0.125rem;
  margin: 0px;
  padding: 0.2rem 0.75rem 0.22rem 0.75rem;
  color: var(--clr-text-default);
  font-weight: 400;
}

/*----- || Main General || -----*/

main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 64ch;
  margin: 0 auto;
}

/*----- || Main Divider || -----*/

article + article {
  border-top-style: solid;
  border-width: 0.125rem;
  border-top-color: var(--clr-light-purple);
  padding-top: 1.5rem;
}

/*----- || Main Content Spacing || -----*/

h2 {
  position: relative;
  left: -0.825rem;
}

main > * {
  padding: 0 1rem 2.825rem 1rem;
}

.profile p,
.skills p {
  margin: 0px;
  padding: 0px;
}

.experiences p {
  padding-block: 0.125rem;
  margin: 0px;
}

.experiences section p:nth-of-type(3) {
  margin-top: 0.5rem;
}

.skills section + section {
  padding-top: 0.25rem;
}

/*----- || Main Links || -----*/

/*descendant selector*/
main a {
  color: var(--clr-purple-darker);
}

main a:hover {
  color: var(--clr-purple);
}

main a:active {
  color: var(--clr-vibrant-purple);
}

a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.063rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/*----- || Main Content Styles || -----*/

.profile span {
  font-weight: 700;
}

.experiences span::before {
  content: "🏢 ";
}

.experiences section p:nth-of-type(1),
.experiences section p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-text-alt);
}

.experiences section p:nth-of-type(1)::before {
  content: "🗓️ ";
}

.experiences section p:nth-of-type(2)::before {
  content: "🏢 ";
}

.experiences section:nth-of-type(1),
.experiences section:nth-of-type(2),
.experiences section:nth-of-type(3) {
  border-left-style: solid;
  border-color: var(--clr-light-purple);
  border-width: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.063rem;
  padding-top: 0px;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.experiences section:nth-of-type(4) {
  border-left-style: solid;
  border-color: var(--clr-light-purple);
  border-width: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.063rem;
  padding-top: 0px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

/*----- || Main List Styles || -----*/

ul {
  margin: 0px;
  padding: 0px;
}

ol {
  margin: 0px;
  padding: 0px 0px 0px 1.5rem;
}

ol li {
  padding-bottom: 0.5rem;
}

/*lobotomized owl selector*/
li + li {
  margin-top: 0.25rem;
}

.skills ul {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  row-gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: start;
}

.skills li {
  list-style-type: none;
  background-color: var(--clr-bg-accent);
  border-radius: 0.25rem;
  padding: 0.063rem 0.5rem 0.063rem 0.5rem;
}

/* Inline block as alternative to flexbox 

.skills li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.625rem;
  background-color: var(--clr-bg-accent);
  border-radius: 0.25rem;
  padding: 0.063rem 0.5rem 0.063rem 0.5rem;
}
  
*/

ol li a {
  padding-inline: 0.25rem;
}

/*----- || Media Queries || -----*/

@media screen and (max-width: 767px) {
  header {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
  article + article {
    padding-top: 2.5rem;
  }
  main > * {
    padding-bottom: 3.5rem;
  }
  menu {
    align-items: baseline;
    justify-content: center;
    gap: 1.7rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 1.1rem;
  }
  aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
}

@media print {
  nav {
    display: none;
  }
  aside {
    display: none;
  }
}
