/*----- || General styles || -----*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", "Arial", sans-serif;
  font-size: 1rem;
  color: #3a274a;
  letter-spacing: 0.05rem;
  line-height: 170%;
}

body {
  font-family: inherit;
  font-size: 1.125rem;
  margin: 0;
  background-color: #e9e3ee;
}

::selection {
  background-color: #31005c;
  color: #e9e3ee;
}

/*----- || Headline Styles || -----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass";
  font-weight: 600;
  color: #43007d;
  letter-spacing: normal;
}

h1 {
  color: #ffffff;
  letter-spacing: 0.062rem;
  font-weight: 400;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

/*----- || Header || -----*/

/* not necessary, just for practicing em vs rem */
.intro {
  font-size: 3rem;
}

.intro h1 {
  font-size: 1em;
}

.intro p {
  font-size: 0.375em;
}
/* ---------------------------------------------- */

header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #31005c;
  color: #e2dbec;
}

h1 + p::after {
  content: " ✨";
}

h1 + p {
  margin-bottom: 2.25rem;
}

nav a {
  color: #e2dbec;
  margin-left: 1.5rem;
}

/*pseudoclass*/
nav a:hover {
  color: #ffffff;
}

nav a:active {
  color: #d8bdff;
}
/*:hover needs to be defined before :active, otherwise hover would override the active*/

aside p {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: fit-content;
  height: fit-content;
  background-color: #ffd22f;
  border-radius: 0.125rem;
  margin: 0px;
  padding: 0.2rem 0.75rem 0.22rem 0.75rem;
  color: #3a274a;
  font-weight: 400;
}

/*----- || Main General || -----*/

main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 64ch;
  margin: 0 auto;
}

/*----- || Main Divider || -----*/

article + article {
  border-top-style: solid;
  border-width: 0.125rem;
  border-top-color: #d1cae6;
  padding-top: 1.5rem;
}

/*----- || Main Content Spacing || -----*/

h2 {
  position: relative;
  left: -0.825rem;
}

main > * {
  padding: 0 1rem 2.825rem 1rem;
}

.profile p,
.skills p {
  margin: 0px;
  padding: 0px;
}

.experiences p {
  padding-block: 0.125rem;
  margin: 0px;
}

.experiences section p:nth-of-type(3) {
  margin-top: 0.5rem;
}

.skills section + section {
  padding-top: 0.25rem;
}

/*----- || Main Links || -----*/

/*descendant selector*/
main a {
  color: #3a018a;
}

main a:hover {
  color: #5700d0;
}

main a:active {
  color: #7c1fff;
}

a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.063rem;
}

a:hover {
  text-decoration: underline;
}

/*----- || Main Content Styles || -----*/

.profile span {
  font-weight: 700;
}

.experiences span::before {
  content: "🏢 ";
}

.experiences section p:nth-of-type(1),
.experiences section p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 600;
  color: #42354d;
}

.experiences section p:nth-of-type(1)::before {
  content: "🗓️ ";
}

.experiences section p:nth-of-type(2)::before {
  content: "🏢 ";
}

.experiences section:nth-of-type(1),
.experiences section:nth-of-type(2),
.experiences section:nth-of-type(3) {
  border-left-style: solid;
  border-color: #d1cae6;
  border-width: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.063rem;
  padding-top: 0px;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.experiences section:nth-of-type(4) {
  border-left-style: solid;
  border-color: #d1cae6;
  border-width: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.063rem;
  padding-top: 0px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

/*----- || Main List Styles || -----*/

ul {
  margin: 0px;
  padding: 0px;
}

ol {
  margin: 0px;
  padding: 0px 0px 0px 1.5rem;
}

ol li {
  padding-bottom: 0.5rem;
}

/*lobotomized owl selector*/
li + li {
  margin-top: 0.25rem;
}

.skills li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.625rem;
  background-color: #c3b4ec49;
  border-radius: 0.25rem;
  padding: 0.063rem 0.5rem 0.063rem 0.5rem;
}

ol li a {
  padding-inline: 0.25rem;
}
